@inject IStringLocalizer<EuropArt.Shared.Resources.NavMenu> Loc
@inject NavigationManager NavigationManager
<div class="round-nav fixed-top"></div>
<nav class="navbar navbar-second navbar-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EuropArt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            @*<div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">EuropArt</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>*@
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 pt-2">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artwork">@Loc["Artworks"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artist">@Loc["Artists"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="youth">@Loc["Youth"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="AboutUs">@Loc["AboutUs"]</NavLink>
                    </li>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
                <ul class="navbar-nav justify-content-end pe-3">
                    @*<form class="d-flex form-search">
                        <input class="form-control me-2" type="text" placeholder="@Loc["Search"]" aria-label="Zoeken" @onchange="Search">
                        <a class="btn" href="/search"><img src="/images/search.svg" /></a>
                    </form>*@
                    

                    <NavLink class="shoppingcart mr-3" href="search"><img src="/images/search.svg" /></NavLink>

                    <NavLink class="shoppingcart" href="shoppingcart"><img src="/images/shoppingcart.svg" /></NavLink>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="fixed-language-user">
    <NavLink class="user-profile" href="login">
        <img src="images/user.svg" />
    </NavLink>
    <CultureSelector />
</div>


@code { private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Search(ChangeEventArgs args)
    {
        NavigationManager.NavigateTo("/artwork");
    } 
}
