@inject IStringLocalizer<EuropArt.Shared.Resources.NavMenu> Loc
@inject NavigationManager NavigationManager
<div class="round-nav fixed-top"></div>
<nav class="navbar navbar-second navbar-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EuropArt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            @*<div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">EuropArt</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>*@
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pt-2">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artwork">@Loc["Artworks"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artist">@Loc["Artists"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="youth">@Loc["Youth"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="AboutUs">@Loc["AboutUs"]</NavLink>
                    </li>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
                <NavLink class="shoppingcart mr-3" href="search"><img src="/images/search.svg" /></NavLink>
                <NavLink @onclick="OpenShoppingCart" class="shoppingcart text-decoration-none mr-3">
                    <img src="/images/shoppingcart.svg" id="shoppingcart" />
                    <p id="counter" class="text-white float-left">@Cart.Items.Count</p>
                </NavLink>
                <NavLink class="user-profile" href="login">
                    <img src="images/user.svg" />
                </NavLink>
                <CultureSelector />
            </div>
        </div>
    </div>
</nav>

