@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IStringLocalizer<EuropArt.Shared.Resources.NavMenu> Loc
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager

<div class="round-nav fixed-top"></div>
<nav class="navbar navbar-second navbar-dark navbar-expand-lg navbar-toggleable-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hooop Gallery</a>
        @*<button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">*@
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" @NavMenuCssClass navbar-collapse" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" @onclick="ToggleNavMenu">
            @*<div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">EuropArt</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>*@
                <ul class="navbar-nav justify-content-center flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artwork">@Loc["Artworks"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artist">@Loc["Artists"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="youth">@Loc["Youth"]</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="AboutUs">@Loc["AboutUs"]</NavLink>
                    </li>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            <ul class="d-flex align-items-center navbar-nav-right">
                <li>
                    <NavLink @onclick="OpenShoppingCart" class="shoppingcart text-decoration-none">
                        <img src="/images/shoppingcart.svg" id="shoppingcart" 
                    </NavLink>
                </li>
                <li>
                    <p id="counter" class="text-white float-left">@Cart.Items.Count</p>
                </li>
                @*<NavLink class="shoppingcart mr-3" href="login">
                        <img src="/images/user.svg" />
                    </NavLink>*@
                <AuthorizeView>
                    <Authorized>
                        <div class="dropdown show shoppingcart"   >
                            <a class=" dropdown-toggle text-white" role="button" id="dropdownMenuLink" @onclick="ToggleAccountDropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/images/user.svg" />
                            </a>

                            <div class="dropdown-menu @(show? "show":"")" aria-labelledby="dropdownMenuLink" @onclick="ToggleNavMenu">
                                <a class="dropdown-item" @onclick="ToggleAccountDropdown" href="account">@Loc["Profile"]</a>
                                <a class="dropdown-item" href="messages">@Loc["Messages"]</a>
                                <a class="dropdown-item" @onclick="BeginSignOut" href="#">@Loc["Logout"]</a>
                            </div>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <li>
                            <NavLink class="shoppingcart" href="authentication/login">
                                <img src="/images/user.svg" />
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
                <li>
                    <CultureSelector />
                </li>
            </ul>
        </div>
    </div>
</nav>