@page "/register/user/{AuthId}/{state}"
@inject IStringLocalizer<EuropArt.Shared.Resources.Artworks.Create> Loc
@using EuropArt.Client.Infrastructure
<div class="row">
    <div class="col-8 offset-2">
        <EditForm Model="@newUser" OnValidSubmit="SignUpAsync" class="form">
            <FluentValidationValidator />
            <DataAnnotationsValidator />
            <div class="mb-3">
                <h6>@Loc["FirstName"]</h6>
                <InputText class="form-control" @bind-Value="newUser.FirstName"/>
                <ValidationMessage For="@(() => newUser.FirstName)" />
            </div>
            <div class="mb-3">
                <h6>@Loc["LastName"]</h6>
                <InputText class="form-control" id="exampleInputTitle" @bind-Value="newUser.LastName"
                           aria-describedby="titleHelp" placeholder="Enter lastname" />
                <ValidationMessage For="@(() => newUser.LastName)" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">@Loc["Register"]</button>
            </div>
        </EditForm>
    </div>
</div>
