@page "/"
@using EuropArt.Shared.Artists
@using System.Globalization
@inject IArtistService ArtistService

@using EuropArt.Shared.Artworks
@using EuropArt.Shared.Resources
@inject IArtworkService ArtworkService
@inject IStringLocalizer<EuropArt.Shared.Resources.Home> Loc 

<div id="homepage">
    <div class="row">
        <div class="col-12">
            <div class="banner mb-5" style="background-image:url(images/banner.jpg);">
                <div class="text">
                    <h1>@Loc["ArtBringsLive"]</h1>
                    <span class="small-banner-text">@Loc["ForReal"]</span>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h2>@Loc["Latest"]</h2>
        </div>
        <div class="col-4">
            <div class="badge-kunstwerk">
                <a href="#"><img src="images/img_x300_615b0f51057766-33663549-37540512.jpg"></a>
                <div class="k-p">
                    <h2 class="kunstenaar">Unbranded Fresh Cheese</h2>
                    <span class="prijs">&euro; 100</span>
                </div>
                <span class="naam">by Toon Decock</span>
            </div>
        </div>
        <div class="col-4">
            <div class="badge-kunstwerk">
                <a href="#"><img src="images/img_x500_615acf2b92d903-60438090-38681861.jpg"></a>
                <div class="k-p">
                    <h2 class="kunstenaar">Unbranded Fresh Cheese</h2>
                    <span class="prijs">&euro; 100</span>
                </div>
                <span class="naam">by Toon Decock</span>
            </div>
        </div>
        <div class="col-4">
            <div class="badge-kunstwerk">
                <a href="#"><img src="images/img_x500_615ad73aa4ac97-98988702-54431046.jpg"></a>
                <div class="k-p">
                    <h2 class="kunstenaar">Unbranded Fresh Cheese</h2>
                    <span class="prijs">&euro; 100</span>
                </div>
                <span class="naam">by Toon Decock</span>
            </div>
        </div>




        <div class="col-12 text-center">
            <h2>@Loc["FeaturedArtworks"]</h2>
        </div>
        <div class="row">
            @if (artworks is null)
            {
                <p>Loading...</p>
            }
            else
            {
                @for (var i = 0; i < 3; i++)
                {
                    <div class="kol col-4">
                        <div class="badge-kunstwerk">
                            <a href="artwork/@artworks.ElementAt(i).Id"><img src="@artworks.ElementAt(i).ImagePath"></a>
                            <div class="k-p">
                                <h2 class="kunstenaar">@artworks.ElementAt(i).Name</h2>
                                <span class="prijs">@artworks.ElementAt(i).Price.ToString("C")</span>
                            </div>
                            <span class="naam">by @artworks.ElementAt(i).Artist.Name</span>
                        </div>
                    </div>
                }
            }

        </div>





        <div class="col-12 text-center">
            <h2>@Loc["FeaturedArtists"]</h2>
        </div>
        <div class="row">
            @if (artists is null)
            {
                <p>Loading...</p>
            }
            else
            {
@*                @for (var i = 0; i < 3; i++)
                {
                    <div class="col-4 text-center">
                        <div class="badge-kunstenaars">
                            <div class="profile-pic">
                                <a href="/artist/@artists.ElementAt(i).Id"><img src="@artists.ElementAt(i).ImagePath" /></a>
                            </div>
                            <h2>@artists.ElementAt(i).Name</h2>
                            <span class="locatie"><img src="images/locate.svg" /> @artists.ElementAt(i).City</span><br />
                            <span class="kunstwerken">@artists.ElementAt(i).Artworks.Count() @Loc["Artworks"]</span>
                        </div>
                    </div>
                    TODO:Fix this stuff...
                    *@

                }
            }
        </div>




    </div>
</div>




@code {
    private List<ArtistDto.Index> artists;

    private List<ArtworkDto.Index> artworks;

    protected override async Task OnInitializedAsync()
    {
        ArtistRequest.GetIndex request = new();
        var response = await ArtistService.GetIndexAsync(request);
        artists = response.Artists;

        ArtworkRequest.GetIndex request2 = new();
        var response2 = await ArtworkService.GetIndexAsync(request2);
        artworks = response2.Artworks;
    }




}
