@page "/login"
@inject IStringLocalizer<EuropArt.Shared.Resources.Login> Loc

<h1 class="text-center">@Loc["Welcome Back"]!</h1>
<div class="row">
    <div class="col-6 offset-3">
        <form class="form">
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="@Loc["Email"]">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="@Loc["Password"]">
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-own">@Loc["Sign In"]</button>
            </div>
        </form>
    </div>
</div>

<div class="intermetzo">
    <span><a href="/register">@Loc["Don't Have An Account Yet"]</a></span>
</div>



@code { }
