@page "/register/{AuthId}"
@inject IStringLocalizer<EuropArt.Shared.Resources.Register> Loc
@using System.Web

<div class="container-lg content">
    <h1 class="text-center">@Loc["I am a"]</h1>
    <div class="text-center">
        <NavLink class="big-button"  href="@userRef">@Loc["User"]</NavLink>
        <NavLink class="big-button" href="@artistRef">@Loc["Artist"]</NavLink>
        <NavLink class="big-button" href="@youthRef">@Loc["Youth Artist"]</NavLink>
    </div>
</div>

@code {

    [Parameter] public string AuthId { get; set; }

    [Inject] NavigationManager navigationManager { get; set; }
    private string artistRef;
    private string userRef;
    private string youthRef;

    protected override async Task OnParametersSetAsync()
    {
        var authId = AuthId;
        userRef = $"register/user/{authId}/";
        artistRef = $"register/artist/{authId}/";
        youthRef = $"register/youth/{authId}/";

        Uri myUri = new Uri(navigationManager.Uri);
        string originalState = HttpUtility.ParseQueryString(myUri.Query).Get("state");
        Console.WriteLine(originalState);
        userRef += originalState;
        artistRef += originalState;
        youthRef += originalState;
    }
}
