@page "/artist/{id:int}"
@using EuropArt.Shared.Accounts
@using EuropArt.Shared.Artists
@using EuropArt.Shared.Artworks
@inject IStringLocalizer<EuropArt.Shared.Resources.Artists.Detail> Loc




@if (artist is null)
{
<p><em>Loading...</em></p> }
else
{
    <div class="row">
        <div class="col-6">
            <h2 class="Kunstenaar" data-test-id="artist-detail-name">@(artist.FirstName + " " + artist.LastName)</h2>
        </div>
        <div class="col-6 text-end">
            <AuthorizeView>
                <div class="admin-buttons">
                    <AuthorizeView Roles="Artist" Context="HideEdit">
                        @if(!IsDisabled )
                        {
                            <a disabled="@IsDisabled" href="artist/edit/@artist.Id" class="edit" style="margin-right:5px"><img src="/images/edit.svg" /></a>
                        }
                    </AuthorizeView>
                    <AuthorizeView Roles="User" Context="Start">
                        <a href="messages" @onclick="StartConversation" class="edit text-decoration-none text-dark" style="margin-right:5px ">@Loc["StartConversation"]</a>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin" Context="Delete">
                        <a href="artist/edit/@artist.Id" class="edit" style="margin-right:5px"><img src="/images/edit.svg" /></a>
                        @if (RequestingDelete)
                        {
                            <a style="color: var(--bs-body-color); text-decoration:none;" @onclick="ConfirmDelete" class="edit">@Loc["ConfirmDelete"]</a>
                            <a style="color: var(--bs-body-color); text-decoration:none;" @onclick="CancelRequestDelete" class="edit">@Loc["CancelDelete"]</a>
                        }
                        else
                        {
                            <a style="color: var(--bs-body-color); text-decoration:none;" class="edit" @onclick="RequestDelete">@Loc["Delete"]</a>
                        }
                    </AuthorizeView>
                </div>
            </AuthorizeView>     
        </div>
    </div>

    <div class="row artist-detail align-items-center">
        <div class="col-4 text-center mb-5">
            <img src="@artist.ImagePath" class="detail-profile-pic" />
        </div>
        <div class="col-8 mb-5">
            <p>
                <img src="images/locate.svg" class="location" /> @artist.City
            </p>
            <p>
                @Loc["JoinedOn"] @artist.DateCreated.ToString("dd MMMM yyyy")
            </p>
            <p data-test-id="artist-detail-biography">
                @artist.Biography
            </p>
            <p><a href="http://@artist.Website" target="_blank">@artist.Website</a></p>
        </div>
        <div class="col-8">
            <h3>@Loc["Latest Artworks"]</h3>
        </div>
        <div class="col-4 text-end">
        </div>
        @if (artist.Artworks.Count > 0)
        {
            @foreach (var artwork in artist.Artworks)
            {
            <div class="kol col-lg-4 col-sm-6 col-12">
                <div class="badge-kunstwerk">
                    <a href="artwork/@artwork.Id"><img src="@artwork.ImagePaths[0].imagePath"></a>
                    <div class="k-p">
                        <span class="prijs">@artwork.Price.ToString("C")</span>
                    </div>
                    <span class="naam">@artwork.Name.ToString()</span>
                </div>
            </div>
            } 
         }
         else
         {
            <p>@Loc["No artworks yet"]</p>
         }
        @foreach(var like in artist.Likes)
        {
         
           <p>@like.Artwork.Name</p>
        }
    </div>
}

@code {
    private ArtistDto.Detail artist;
    private bool RequestingDelete;

    [Parameter] public int Id { get; set; }
    [Inject] public IArtistService ArtistService { get; set; }
    [Inject] public IAccountService AccountService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public AuthenticationStateProvider auth { get; set; }
    private string AuthId { get; set; }
    private string Role = "";
    private bool IsDisabled => artist?.AuthId != AuthId;
    protected override async Task OnParametersSetAsync()
    {
        var authState = await auth.GetAuthenticationStateAsync();
        var user = authState.User; 
        if(user.Identity.IsAuthenticated)
        {
            var authId = user.Claims.ElementAt(4).Value.Substring(6);
            AuthId = authId;
            Role = user.Claims.ElementAt(5).Value;
        }

        ArtistRequest.GetDetail request = new() { ArtistId = Id };
        var response = await ArtistService.GetDetailAsync(request);
        artist = response.Artist;
        Console.WriteLine(IsDisabled);
        Console.WriteLine(Role);
        Console.WriteLine(AuthId);
    }

    public async Task StartConversation()
    {
        var authState = await auth.GetAuthenticationStateAsync();
        var user = authState.User;
        var authId = user.Claims.ElementAt(4).Value.Substring(6);
        AuthId = authId;
        AccountRequest.StartConversation request = new()
            {
                UserAuthId = authId,
                ArtistAuthId = artist.AuthId
            };
        await AccountService.StartConversationAsync(request);
    }

    private async Task ConfirmDelete()
    {
        var request = new ArtistRequest.Delete { ArtistId = Id };
        await ArtistService.DeleteAsync(request);

        NavigationManager.NavigateTo("/artist");
    }

    private void RequestDelete()
    {
        RequestingDelete = true;
    }
    private void CancelRequestDelete()
    {
        RequestingDelete = false;
    }

}

