@page "/artist/{id:int}"
@using EuropArt.Shared.Artist


<h2 class="Kunstenaar">@_artist.Name</h2>


@if (_artist == null)
{
    <p><em>Loading...</em></p>
}



else
{
    @*
        <p>@_artist.Id</p>
        <p>@_artist.Name</p>
        <p>@_artist.City</p>
        <p>@_artist.Biography</p>
        <a href="@_artist.Website">Portfolio</a>
        <img src="@_artist.ImagePath" />

    *@




<div class="row artist-detail align-items-center">
    <div class="col-4 text-center mb-5">
        <img src="@_artist.ImagePath" class="detail-profile-pic" />
    </div>
    <div class="col-8 mb-5">
        <p>
            <img src="images/locate.svg" class="location" /> @_artist.City
        </p>
        <p>
            @_artist.Biography
        </p>
        <p><a href="http://www.@_artist.Website" target="_blank">@_artist.Website</a></p>
    </div>
    <div class="col-8">
        <h3>Latest artworks</h3>
    </div>
    <div class="col-4 text-end">
        <a href="#">View all # artworks</a>
    </div>
    <div class="col-4 text-center">
        @if(_artist.Artworks != null) { 
            @foreach(var artwork in _artist.Artworks) { 
                <span style="font-size:5rem;font-weight:400;">
                    <div class="kol col-4">
                        <div class="badge-kunstwerk">
                            <a href="artwork/@artwork.Id"><img src="@artwork.ImagePath"></a>
                            <div class="k-p">
                                <h2 class="kunstenaar"><a href="/artist/@artwork.Artist.Id">by @*@artwork.Artist.Name*@</a></h2>
                                <span class="prijs">@artwork.Price.ToString("C")</span>
                            </div>
                            <span class="naam">@artwork.Name</span>
                        </div>
                    </div>
                </span>
             }
        }
    </div>
    @*<div class="col-4 text-center">
        <span style="font-size:5rem;font-weight:400;">2</span>
    </div>
    <div class="col-4 text-center">
        <span style="font-size:5rem;font-weight:400;">3</span>
    </div>*@
</div>







}

@code { private ArtistDto.Detail _artist = new();

    [Parameter] public int Id { get; set; }
    [Inject] public IArtistService ArtistService { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _artist = await ArtistService.GetDetailAsync(Id);
    }
}

