@page "/artist"
@using EuropArt.Shared.Artist
@using System.Globalization
@inject IArtistService ArtistService
@inject IStringLocalizer<EuropArt.Shared.Resources.Artists.Index> Loc

<h3>@Loc["titel"]</h3>

<div class="row">
    @if (artists is null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var artist in artists)
        {
            <div class="col-4 text-center">
                <div class="badge-kunstenaars">
                    <div class="profile-pic">
                        <a href="/artist/@artist.Id"><img src="@artist.ImagePath" /></a>
                    </div>
                    <h2>@artist.Name</h2>
                    <span class="locatie"><img src="images/locate.svg" /> @artist.City</span><br />
                    <span class="kunstwerken">@artist.Artworks.Count() @Loc["artworks"]</span>
                </div>
            </div>
        }
    }
</div>

@code {
    private IEnumerable<ArtistDto.Index> artists;

    protected override async Task OnInitializedAsync()
    {
        artists = await ArtistService.GetIndexAsync();
    }
}
