@page "/artwork/{id:int}"
@using EuropArt.Shared.Artworks
@inject IStringLocalizer<Resources.Artworks.Detail> Loc


@if (_artwork == null || _artwork.Artist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<p>@_artwork.Id</p>
    <p>@_artwork.Name</p>
    <p>@_artwork.Description</p>
    <p>@_artwork.Price.ToString("C")</p>
    <img src="@_artwork.ImagePath" />*@

    <div class="row">
        <div class="col-8">
            <div class="badge-kunstwerk text-center">
                <img src="@_artwork.ImagePath" style="width:auto;">
            </div>
            <h2 class="mb-1">@_artwork.Name</h2>
            <h4 class="kunstenaar"><a href="/artist/@_artwork.Artist.Id"><span style="color:#b1b4b7">@Loc["By"]</span> @_artwork.Artist.Name</a></h4>
            <p>@_artwork.Description</p>
        </div>
        <div class="col-4">
            <div class="bieden">
                <span class="prijs-groot">@_artwork.Price.ToString("C")</span>
                <form>
                    <button class="btn btn-winkelmand mb-3">@Loc["Shoppingcart"]</button>
                    <button class="btn btn-bieden mb-3">@Loc["BuyNow"]</button>
                </form>
            </div>
        </div>
    </div>
}



@code {
    private ArtworkDto.Detail _artwork = new();

    [Parameter] public int Id { get; set; }
    [Inject] public IArtworkService ArtworkService { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _artwork = await ArtworkService.GetDetailAsync(Id);
    }
}
