@page "/artwork/edit/{id:int}"
@inject IStringLocalizer<EuropArt.Shared.Resources.Artworks.Create> Loc
@inject NavigationManager NavigationManager
@using EuropArt.Shared.Artworks

<div class="row">
    <div class="col-8 offset-2">
        <EditForm Model="@artwork" OnValidSubmit="EditArtwork" class="form">
            <FluentValidationValidator />
            <DataAnnotationsValidator />
            <div class="mb-3">
                <h6>@Loc["Title"]</h6>
                <InputText class="form-control" id="exampleInputTitle" @bind-Value="artwork.Name"
                           aria-describedby="titleHelp" placeholder="Enter title" />
                <ValidationMessage For="@(() => artwork.Name)" />
            </div>
            <div class="mb-3">
                <h6>@Loc["Description"]</h6>
                <InputText @bind-Value="artwork.Description" class="form-control" id="exampleInputDescription1"
                           placeholder="Enter description" />
            </div>
            <div class="mb-3">
                <h6>@Loc["Price"]</h6>
                <InputNumber @bind-Value="artwork.Price" class="form-control" placeholder="Enter price" />
                <ValidationMessage For="@(() => artwork.Price)" />
            </div>
            <div class="mb-3">
                <h6>@Loc["ChooseArtwork"]</h6>
                <input type="file" id="artwork" name="artwork" />
                <ValidationMessage For="@(() => artwork.ImagePath)" />

            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">@Loc["Edit"]</button>
            </div>
        </EditForm>
    </div>
</div>
@code {

    private ArtworkDto.Detail artwork = new();

    [Parameter] public int Id { get; set; }
    [Inject] public IArtworkService ArtworkService { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        artwork = await ArtworkService.GetDetailAsync(Id);
    }

    private async Task EditArtwork()
    {
        await ArtworkService.UpdateAsync(artwork, Id);
        NavigationManager.NavigateTo("/artwork");
        
    }
}
