@page "/artwork"
@using EuropArt.Shared.Artworks
@inject IArtworkService ArtworkService

<h1>Kunstwerken</h1>
<div class="row">
    <div class="col-6">
        <button id="filters" type="button" class="btn btn-secondary btn-lg" data-bs-toggle="button" autocomplete="off">Toon filters</button>
    </div>
    <div class="col-6 text-end">
        <NavLink class="btn btn-secondary btn-lg" href="/artwork/add">Add artwork</NavLink>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div id="f-row" class="filters col-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Veilingen</label>
                </div>
                <h3>Categorie:</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Alles</option>
                    <option value="1">Collage</option>
                    <option value="2">Fotografie</option>
                    <option value="3">Schilderijen</option>
                    <option value="4">Sculpturen</option>
                    <option value="5">Tekeningen</option>
                    <option value="6">Andere</option>
                </select>
                <h3>Prijs:</h3>
                <div class="row">
                    <div class="form-floating col-6">
                        <input type="number" class="form-control" id="floatingInput" placeholder="0">
                        <label for="floatingInput">Min.</label>
                    </div>
                    <div class="form-floating col-6">
                        <input type="number" class="form-control" id="floatingInput" placeholder="0">
                        <label for="floatingInput">Max.</label>
                    </div>
                </div>
                <h3>Stijl:</h3>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Abstract</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Klassiek</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Minimalisme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Modernisme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Surrealisme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Andere</label>
                </div>
            </div>
            @if (_artworks is null)
            {
                <p>Loading...</p>
            }
            else
            {
                <div class="kol col-4">
                @foreach (var artwork in _artworks)
                {
                    @if(artwork.Id % 3 == 0) { 
                        <div class="badge-kunstwerk">
                            <a href="artwork/@artwork.Id"><img src="@artwork.ImagePath"></a>
                            <div class="k-p">
                                <h2 class="kunstenaar"><a href="/artist/@artwork.Artist.Id">by @artwork.Artist.Name</a></h2>
                                <span class="prijs">@artwork.Price.ToString("C")</span>
                            </div>
                            <span class="naam">@artwork.Name</span>
                        </div>
                    }
                }
                </div>
                <div class="kol col-4">
                @foreach (var artwork in _artworks)
                {
                    @if(artwork.Id % 3 == 1) { 
                        <div class="badge-kunstwerk">
                            <a href="artwork/@artwork.Id"><img src="@artwork.ImagePath"></a>
                            <div class="k-p">
                                <h2 class="kunstenaar"><a href="/artist/@artwork.Artist.Id">by @artwork.Artist.Name</a></h2>
                                <span class="prijs">@artwork.Price.ToString("C")</span>
                            </div>
                            <span class="naam">@artwork.Name</span>
                        </div>
                    }
                }
                </div>
                <div class="kol col-4">
                @foreach (var artwork in _artworks)
                {
                    @if(artwork.Id % 3 == 2) { 
                        <div class="badge-kunstwerk">
                            <a href="artwork/@artwork.Id"><img src="@artwork.ImagePath"></a>
                            <div class="k-p">
                                <h2 class="kunstenaar"><a href="/artist/@artwork.Artist.Id">by @artwork.Artist.Name</a></h2>
                                <span class="prijs">@artwork.Price.ToString("C")</span>
                            </div>
                            <span class="naam">@artwork.Name</span>
                        </div>
                    }
                }
                </div>
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<ArtworkDto.Index> _artworks;

    protected override async Task OnInitializedAsync()
    {
        _artworks = await ArtworkService.GetIndexAsync();
    }
}
